@media(min-width: 650px){
.menu {
    height: 60px;
    border-radius: 15px;
    background-color: rgba(130, 130, 130, 0.2);
    backdrop-filter: blur(19px);
    margin-top: 20px;
}
.links {
    gap: 35px;
}
.links button {
    display: none;
}
.links a {
    display: flex;
    text-decoration: none;
    color: white;
}
#login {
    display: none;
}
.tools {
    gap: 25px;
}
.genre p {
    padding-top: 60px;
}
.movie-genre {
    gap: 30px 35px;
}
.horror, .thriller, .comedy, .action, .romance, .sci {
    width: 350px;
    height: 350px;
}


}
@font-face {
    font-family: 'horror';
    src: url(fonts/horror/Nightcore\ Demo.ttf);
}
@font-face {
    font-family: 'thriller';
    src: url(fonts/thriller/horroroidbold.ttf);
}
@font-face {
    font-family: 'comedy';
    src: url(fonts/comedy/ComedyCartoonDemoRegular.ttf);
}
@font-face {
    font-family: 'sci';
    src: url(fonts/sci-fi/exotic\ stencil\ army.ttf);
}
@font-face {
    font-family: 'action';
    src: url(fonts/action/Adventure.otf);
}
@font-face {
    font-family: 'romance';
    src: url(fonts/romance/Magic\ Romance\ Personal\ Use\ Only.ttf);
}


* {
    margin: 0;
    padding: 0;
    font-family: "Stack Sans Text", sans-serif;
}
body {
    background-color: rgb(18, 18, 18);
}
html {
    scroll-behavior: smooth;
}
header {
    display: flex;
    width: 100%;
    justify-content: center;
}
.menu {
    display: flex;
    width: 90%;
    height: 40px;
    background-color: rgb(0, 0, 0);
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
    z-index: 100;
}
.links {
    display: flex;
    align-items: center;
    justify-content: center;
}
.links a {
    display: none;
}
.links button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
}
.tools {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.ham-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 230px;
    background-color: rgb(179, 179, 179);
    position: absolute;
    z-index: 150;
}
.ham-menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    font-size: 15px;
    text-decoration: none;
    border-top: solid 1px rgb(130, 130, 130);
    color: rgb(45, 45, 45);
    transition: 0.3s ease;
}
.ham-menu a:hover, .ham-menu svg:hover {
    background-color: rgb(90, 90, 90);
}
.genre {
    display: flex;
    justify-content: center;
    align-items: center;
}
.genre p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 20px;
    padding-top: 30px;
    font-weight: 400;
}
.movie-genre {
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 25px 30px;
}
.horror, .thriller, .sci, .comedy, .romance, .action {
    display: flex;
    width: 120px;
    height: 120px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.horror img, .thriller img, .sci img, .comedy img, .romance img, .action img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    transition: 0.45s ease;
}
.horror {
    grid-column: 1;
    grid-row: 1;
}
.horror p {
    display: flex;
    color: white;
    position: absolute;
    font-family: 'horror';
    font-size: 23px;
}
.thriller {
    grid-column: 2;
    grid-row: 1;
}
.thriller p {
    display: flex;
    color: white;
    position: absolute;
    font-family: 'thriller';
    font-size: 23px;
    letter-spacing: 2px;
}
.sci {
    grid-column: 1;
    grid-row: 2;
}
.sci p {
    display: flex;
    color: white;
    position: absolute;
    font-family: 'sci';
    font-size: 23px;
}
.comedy {
    grid-column: 2;
    grid-row: 2;
}
.comedy p {
    display: flex;
    color: white;
    position: absolute;
    font-family: 'comedy';
    font-size: 23px;
}
.romance {
    grid-column: 1;
    grid-row: 3;
}
.romance p {
    display: flex;
    color: white;
    position: absolute;
    font-family: 'romance';
    font-size: 15px;
}
.action {
    grid-column: 2;
    grid-row: 3;
}
.action p {
    display: flex;
    color: white;
    position: absolute;
    font-family: 'action';
    font-size: 23px;
}
.cover {
    display: flex;
    width: 120px;
    height: 120px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    opacity: 15%;
    position: absolute;
    transition: 0.3s ease;
}
.cover:active, .cover:focus, .cover:hover {
    opacity: 35%;
}
.horror:active img,
.thriller:active img,
.comedy:active img,
.sci:active img,
.action:active img,
.romance:active img {
    transform: scale(1.15);
}
.horror:focus img,
.thriller:focus img,
.comedy:focus img,
.sci:focus img,
.action:focus img,
.romance:focus img {
    transform: scale(1.15);
}
.horror:hover img,
.thriller:hover img,
.comedy:hover img,
.sci:hover img,
.action:hover img,
.romance:hover img {
    transform: scale(1.15);
}

/* thriller.html */
.movies {
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 10px 5px;
}
.m1, .m2, .m3, .m4, .m5, .m6, .m7, .m8, .m9, .m10 {
    display: flex;
    width: 93.6px;
    height: 140.4px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
}
.m1 img, .m2 img, .m3 img, .m4 img, .m5 img, .m6 img, .m7 img, .m8 img, .m9 img, .m10 img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.m1 {
    grid-column: 1;
    grid-row: 1;
}
.m2 {
    grid-column: 2;
    grid-row: 1;
}
.m3 {
    grid-column: 3;
    grid-row: 1;
}
.m4 {
    grid-column: 4;
    grid-row: 1;
}
.m5 {
    grid-column: 1;
    grid-row: 2;
}
.m6 {
    grid-column: 2;
    grid-row: 2;
}
.m7 {
    grid-column: 3;
    grid-row: 2;
}
.m8 {
    grid-column: 4;
    grid-row: 2;
}
.m9 {
    grid-column: 1;
    grid-row: 3;
}
.m10 {
    grid-column: 2;
    grid-row: 3;
}
